[Unit]
Description=Loading IP Sets
Before=netowrk.target
Before=netfilter-persistent.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/sbin/ipset -f /etc/ipset.conf restore
ExecReload=/sbin/ipset -f /etc/ipset.conf restore
ExecStop=/sbin/ipset flush
ExectStopPost=/sbin/ipset destroy

[Install]
WantedBy=multi-user.target
RequiredBy=netfilter-persistent.service
