[Unit]
Description=Loading IP Sets
Before=network-pre.target netfilter-persistent.service
Wants=network-pre.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/sbin/ipset -f /etc/ipset.conf restore
ExecReload=/sbin/ipset -f /etc/ipset.conf restore
ExecStop=/sbin/ipset destroy

[Install]
WantedBy=multi-user.target
